
body {
    background-color: #8fd2ff;
}

#div_tabela {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tabela_presenca {
    border-style: solid;
    border-color: #00bf63;
    border-width: 10px;
}

#titulo_presenca {
    display: flex;
    align-items: center;
    color: #00bf63;
    font-size: 42px;
}


#corpo_tabela td {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: white;
    width: 300px;
    font-size: 16px;
}

#cabeca_tabela_presenca {
    color: #00bf63;
    font-size: 22px;
}

#presenca_logo {
    display: flex;
    justify-content: flex-end;
    margin-right: 180px;
}

#presenca_logo img {
    height: 120px;

}